body {
    background-color: rgb(52, 52, 70);
}

#calculator-container {
    width: 100%;
    margin: auto;
    height: 800px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    
}

#calculator-body {
    display: flex;
    flex-direction: column;
    height: 655px;
    width: 500px;
    border: 2px solid black;
    background-color: rgb(165, 165, 165);
    margin: 20px 0px;
    font-family: sans-serif;
}

#calculator-display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    border: 6px solid rgb(87, 59, 59);
}

#calculator-display {
    height: 50%;
    width: 80%;
    font-size: 80px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

#all-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(120, 120, 120);
    height: var(--button-container-height);
    width: var(--button-container-width);
    --button-container-height: 525px;
    --button-container-width: 500px;
}

#operator-column {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculator-operator-button-container {
    display: flex;
    flex-direction: column;
}

.button-row-container {
    display: flex;
    flex-direction: row;
}

.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--button-container-height) / 5 - 5px);
    width: calc(var(--button-container-width) / 4 - 5px);
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    margin: 2px;
    background-color: rgb(208, 208, 208);
    font-size: 40px;
    border-radius: 9px;
}

.zero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid black;
    text-align: center;
    margin: 2px;
    background-color: rgb(208, 208, 208);
    font-size: 40px;
    width: 244px;
}

#operator-button {
    margin: 2px;
}

.operator-button:first-child {
    margin-top: 6px;
}

.calculator-button:active {
    background-color: black;
    color: white;
}

#clear-button {
    font-size: 32px;
}